* {
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
    color: black;
}

#background {
    display: flex;
    position: relative;
    width: 100vw;
    height: calc(100vh - 2 * 1.6em);
}

header,
footer {
    position: relative;
    z-index: 16384;

    display: flex;
    height: 1.6em;
    width: 100vw;

    background-color: white;
    box-shadow: 0 0 30px rgba(0,0,0,5);
}

/* Menu items styles */

@keyframes movemenu{
    0% {
        transform-origin: left top;
        transform: scaleY(0)
    }
    100% {
        transform-origin: left top;
        transform: scaleY(1);
    }
}

#menuframe {
    display: flex;
    flex-direction: row;
    margin-left: .5em;
    margin-right: .5em;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 500;
    margin-top: auto;    /* Vertical center */
    margin-bottom: auto;
    user-select: none;
}

#menuearthframe,
#menuconfigframe,
#menuviewframe,
#menuaboutframe
{
    position: relative;
}

#earthbox,
#configbox,
#viewbox,
#aboutbox
{
    display: none;
    position: absolute;
    top: 1.5em;
    left: 0;
    width: 300px;
    background-color: #BBB;
    border: #BBB 2px solid;
    border: 1px solid black;
    padding: 10px;
    z-index: 1;
}

/* Box shadow on top, left, and bottom sides */
.menushadow {
    box-shadow:
        -10px 0px 10px -10px rgba(0, 0, 0, 0.5),
        /* Left shadow */
        10px 0px 10px -10px rgba(0, 0, 0, 0.5),
        /* Right shadow */
        0px 10px 10px -10px rgba(0, 0, 0, 0.5);
        /* Bottom shadow */
}

.menuitem {
    padding-left: .3em;
    padding-right: .3em;
}

.menuitem::first-letter {
    font-weight: 700;
}

.menuitem:hover {
    background-color: #666;
    color: #FFF;
}

.menuitem i {
    padding-right: .3em;
}

.menuseparator {
    border: 1px solid gray;
    height: 0px;
    margin-top: .3em;
    margin-bottom: .3em;
}

/* Window decoration */

.windowbar {
    display: flex;
    background-color: white;
    border-bottom: 1px solid black;
    padding: 0 1px;
    height: 1.5em;
    width: calc(100% - 2px);
    user-select: none;
}

.windowbarstart {
    margin-top: 1px;
    margin-left: 2px;
    width: 0.7em;
    height: 1.5em;
}

.windowbarcube {
    width: calc(1.5em - 6px);
    height: calc(1.5em - 6px);
    margin: 2px 3px;
    border: 1px solid black;
    box-shadow: 1px 1px gray;
}

.windowbarclose {
    position: relative;
    width: calc(1.5em - 6px);
    height: calc(1.5em - 6px);
    border: 1px solid black;
    box-shadow: 1px 1px gray;
    margin: 2px 2px 2px 3px;
}

.windowbarclose:before,
.windowbarclose:after {
    position: absolute;
    content: '';
    width: 90%;
    height: 0px;
    border: 1px solid black;
    left: 0px;
    top: calc(50% - 1px);
}

.windowbarclose:before{
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
}

.windowbarclose:after{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

.windowtitleframe {
    padding: 0 1px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 50%;
}

.windowbarend {
    margin-top: 1px;
    width: inherit;
    height: 1.5em;
}

.windowtitle {
    margin: 0 3px;
    white-space: nowrap;
    width: fit-content;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 500;
}

.windowbardecoration {
    border-top: 1px solid black;
    border-bottom: 1px solid grey;
    margin: 2px 0;
}

/* Default window frame decoration */

.windowframe {
    position: absolute;
    background-color: darkgray;
    border: 1px solid black;
    box-shadow: 0 0 30px rgba(0,0,0,5);
}
